doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	script(src='http://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/modules/data.js')
	script(src='https://code.highcharts.com/modules/exporting.js')
	script.
		$(function () {
		var inicio = "#{inicio}";
		var fin = "#{fin}";
		var grupo = "#{grupo}";
		var sensor = "#{sensor}";
		console.log("Graficando desde " + inicio + " hasta " + fin);
		$.getJSON('http://92.222.84.155:3443/api/geth/' + inicio + '/' + fin + '/'+ grupo + '/' + sensor, function(data){
			// Filtramos por numero de trama
			var datos = [];
			for(var i = 0; i < data.length; i++){
				//if( data[i][1] == 4 ){
					datos.push([data[i][0], data[i][1]]);
				//}
			}
			console.log(data);
			console.log(datos);

			$('#container').highcharts({

				chart: {
					zoomType: 'x'
				},
				title: {
				    text: 'Gráfico de telemetría'
				},

				subtitle: {
				    text: 'Potenciómetro'
				},

				xAxis: {
				    tickInterval: 7 * 24 * 3600 * 1000, // one week
				    tickWidth: 0,
				    gridLineWidth: 1,
				    labels: {
				        align: 'left',
				        x: 3,
				        y: -3
				    }
				},

				yAxis: [{ // left y axis
				    title: {
				        text: null
				    },
				    labels: {
				        align: 'left',
				        x: 3,
				        y: 16,
				        format: '{value:.,0f}'
				    },
				    showFirstLabel: false
				}, { // right y axis
				    linkedTo: 0,
				    gridLineWidth: 0,
				    opposite: true,
				    title: {
				        text: null
				    },
				    labels: {
				        align: 'right',
				        x: -3,
				        y: 16,
				        format: '{value:.,0f}'
				    },
				    showFirstLabel: false
				}],

				legend: {
				    align: 'left',
				    verticalAlign: 'top',
				    y: 20,
				    floating: true,
				    borderWidth: 0
				},

				tooltip: {
				    shared: true,
				    crosshairs: true
				},

				plotOptions: {
				area: {
					fillColor: {
						linearGradient: {
							x1: 0,
							y1: 0,
							x2: 0,
							y2: 1
						},
					stops: [
						[0, Highcharts.getOptions().colors[0]],
						[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
					]
				}
				},
				    series: {
				        cursor: 'pointer',
				        point: {
				            events: {
				            }
				        },
				        marker: {
				            lineWidth: 1
				        }
				    }
				},

				series: [{
				type: 'area',
				    name: 'Potenciómetro',
					data: datos,
				    lineWidth: 4,
				    marker: {
				        radius: 4
				    }
				}]
			});

		});

		});
